<img class='responsive-img title' src='http://i.imgur.com/XQaeuym.png'>
<div class="login-form">
    <h5 id="mobile-login">Log In</h5>


    <%= form_for @user, url: '/sessions', method: 'post' do |f| %>
      <%= f.text_field :email, :placeholder=>"Email" %>
      <%= f.password_field :password, :placeholder=>"Password" %>
      <%= f.submit "Submit", :class => 'waves-effect waves-red btn' %>
    <% end %>
  </div>
