<body class="musiclovers-background">
  <img class='responsive-img img-title' src='http://i.imgur.com/XQaeuym.png'>

  <h6 class='splash-text'> Music Lovers is a dating app for singles that are tired of the current online dating scene and are looking to meet others with similar music taste.</h6>

  <%= link_to 'Get Started', new_user_path, :class => 'btn splashbtn' %>
</body>
