<body class="musiclovers-background">
  <img class='responsive-img img-title' src='http://i.imgur.com/XQaeuym.png'>

  <h6 class='splash-text'> Music Lovers is a dating app for singles that are looking to meet others with a similar music taste. Click below to start.</h6>

  <%= link_to 'Get Started', new_user_path, :class => 'btn splashbtn' %>
</body>
