<div class='start_matches'>
  <h5 class='mobile-show-title'>Here is your first match. Click below to view their video. If at any point you do not like their content click the thumbs down to move on.</h5>
  <%= link_to "see video", next_match_path, :class => 'btn' %>
</div>
