/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "materialize";
@import "materialize/extras/nouislider";

@media #{$medium-and-down} {
  body {
    background-color: #F7F7F2;
    color: #222725;
  }
  #user_seeking {
    display: inline;
  }

  .profile-photo {
    height: 300px;
    width: 300px;
  }

  .profile-location {
    position: absolute;
    top: 100%;
    font-size: 20px;
  }

  .age {
    position: relative;
    left: 210%;
    bottom: 29%;
    width: 40px;
    height: 40px;
    background-color: #F7F7F2;
    padding: 20px, 20px, 20px, 20px;
    border-radius: 50%;
    border: 5px solid #222725;
    font-size: 100px;
  }
  .nav-logo {
    position: absolute;
    top: 6px;
    height: 50px;
    width: auto;
  }

  .nav-color {
    background-color: #243E36;
  }

  .title {
    position: relative;
    left: 15%;
    padding-top: 3%;
    height: auto;
    width: 70%;
  }

  .signup-form {
    position: absolute;
    width: 44%;
    left: 3%;
  }

  .login-form {
    position: absolute;
    width: 75%;
    left: 3%;
    top: 9%;
  }

  #mobile-login {
    font-size: 30px;
  }

  #mobile-hamburger {
    float: right;
  }
  .profile {
    position: absolute;
    left: 10%;
  }

  .btn {
    background-color: #3E505B;
  }
  .mobile-edit-button {
    position: absolute;
    top: 120%;
  }
  .musiclovers-background {
    background-image: url('http://i.imgur.com/wk8wqER.png');
    background-size: cover;
  }
  .img-title {
    background-color: rgba(247,247,242, 0.7);
    width: 80%;
    position: absolute;
    left: 5%;
    top: 30%;
    border-radius: 5px;
  }
  .splash-text {
    position: absolute;
    left: 33%;
    top: 40%;
    display: flex;
    width: 60%;
    font-size: 18px;
    background-color: rgba(247,247,242, 0.8);
    border-radius: 5px;
  }
  .splashbtn {
    position: absolute;
    top: 66%;
    left: 30%;
    width: 40%;
    height: 5%;
    font-size: 13px;
  }

  .video-thumbup {
    position: relative;
    left: 90%;
  }

  .video-thumbdown {
    position: relative;
    left: 20%;
  }

  .video-icons {
    position: absolute;
    top: 69%;
    padding-top: 15px;
  }

  .videoWrapper iframe {
	  position: absolute;
	  top: 30%;
	  left: 0;
	  width: 100%;
	  height: 36%;
  }

  .answers-thumbup {
    position: absolute;
    left: 66%;
  }

  .answers-thumbdown {
    position: absolute;;
    left: 10%;
  }

  .answers-icons {
    padding-top: 40px;
  }
}

@media #{$large-and-up} {
  body {
    background-color: #F7F7F2;
    color: #222725;
  }
  #user_seeking {
    display: inline;
  }

  .profile-photo {
    height: 400px;
    width: 400px;
  }

  .age {
    position: relative;
    left: 90%;
    bottom: 10%;
    width: 40px;
    height: 40px;
    background-color: #F7F7F2;
    padding: 20px, 20px, 20px, 20px;
    border-radius: 50%;
    border: 5px solid #222725;
    font-size: 45px;
  }
  .nav-logo {
    position: absolute;
    top: 6px;
    height: 50px;
    width: auto;
  }

  .title {
    position: relative;
    left: 30%;
    padding-top: 3%;
    height: auto;
    width: 40%;
  }

  .signup-form {
    position: absolute;
    width: 47%;
    left: 3%;
  }

  .login-form {
    position: absolute;
    width: 29%;
    left: 3%;
  }
  .profile {
    position: relative;
    left: 33%;
  }
  #mobile-name {
    font-size: 65px;
  }

  .nav-color {
    background-color: #243E36;
  }

  .btn {
    background-color: #3E505B;
  }

  .btn:hover{
    background-color: #64A6BD;
  }
  .edit-profile {
    position: relative;
    left: 5%;
    width: 50%;
  }

  .inputbox {
    display: inline;
  }

  .splash-text {
    position: absolute;
    left: 23%;
    top: 50%;
    display: flex;
    width: 55%;
    font-size: 30px;
    background-color: rgba(247,247,242, 0.9);
    border-radius: 5px;
  }
  .musiclovers-background {
    background-image: url('http://i.imgur.com/hRJZKgk.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .img-title {
    background-color: rgba(247,247,242, 0.9);
    width: 60%;
    position: absolute;
    left: 5%;
    top: 30%;
    border-radius: 5px;
  }

  .splashbtn {
    position: absolute;
    top: 66%;
    left: 42%;
  }
  .qanda{
    font-size: 20px;
    padding-left: 5px;
  }

  .qanda h5{
    font-weight: bold;
  }
  .answers-top {
    padding-left: 20%;
    width: 80%;
    left: 20%;
    background-color: rgba (255, 255, 255, .7);
  }

  .video-show {
    position: absolute;
    top: 27%;
    left: 24%;
  }

  .video-thumbup {
    position: relative;
    left: 60%;
  }

  .video-thumbdown {
    position: relative;
    left: 15%;
  }

  .video-icons {
    padding-top: 30px;
  }

  .answers-thumbup {
    position: absolute;
    left: 58%;
  }

  .answers-thumbdown {
    position: absolute;
    left: 31%;
  }

  .answers-icons {
    padding-top: 40px;
  }

  .playlist-show {
    position: absolute;
    top: 27%;
    left: 24%;
  }

  .videoWrapper iframe {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 400%;
	  height: 400%;
  }

}
